.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.nice-day-form-header {
  margin-bottom: 5px;
}

.slider-input {
  width: 82%;
  max-width: 500px;
  margin: 0 auto;
  padding: 30px 10px 3px 10px;
}

.query-form .MuiFormControl-root {
  margin: 0 10px;
}

.MuiButton-root.submit-btn {
  margin: 2em 0 1em 0;
  padding: 8px 55px;
}

p.MuiTypography-gutterBottom {
  margin-bottom: 15px;
}

.results-area {
  padding: 1.5em 1em;
}

.results-area label {
  margin-right: 10px;
  font-weight: bold;
}
