body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.app-header-bar {
  background: #dce6fd;
  padding: 0.6em 0;
  margin-bottom: 24px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
}

.app-title {
  letter-spacing: 0.8px;
}

.dark-sky-img {
  margin: 5px 10px 0 10px;
  height: 30px;
}

.app-logo {
  height: 45px;
  margin-right: 16px;
  border-radius: 5px;
}

.better-link {
  text-decoration: none;
}

.centered-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-input {
  width: 82%;
  max-width: 700px;
  padding: 20px 15px 3px 15px;
}

.query-form {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.query-form .MuiFormControl-root {
  margin: 0 10px;
}

.submit-line {
  margin: 1.8em 0 1em 0;
  display: flex;
}

.MuiButton-root.submit-btn {
  padding: 8px 40px;
}

p.MuiTypography-gutterBottom {
  margin-bottom: 15px;
}

.results-area {
  padding: 1.5em 0em;
}

.results-area label {
  margin-right: 10px;
  font-weight: bold;
}

.bar-chart-wrapper {
  width: 70%;
  min-width: 330px;
  max-width: 1000px;
  margin-top: 10px;
  padding: 20px 15px 10px 10px;
}

.city-results-card {
  display: inline-block;
}
