.App {
  font-family: 'Roboto', sans-serif;
}

.form-area {
  text-align: center;
}

.better-link {
  text-decoration: none;
}

.centered-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nice-day-form-header {
  margin-bottom: 0;
}

.slider-input {
  width: 82%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px 10px 3px 10px;
}

.query-form .MuiFormControl-root {
  margin: 0 10px;
}

.MuiButton-root.submit-btn {
  margin: 1.8em 0 1em 0;
  padding: 8px 40px;
}

p.MuiTypography-gutterBottom {
  margin-bottom: 15px;
}

.results-area {
  padding: 1.5em 0.5em;
}

.results-area label {
  margin-right: 10px;
  font-weight: bold;
}

.bar-chart-wrapper {
  width: 70%;
  height: 280px;
  min-width: 330px;
  max-width: 1000px;
  margin-top: 10px;
  padding: 20px 15px 10px 10px;
}
